.body{
    height: 500px;
    width: 500px;
    background-color: darkseagreen;
    padding-top: 5px;
    padding-left: 10px;
    color: darkblue;
}

.company-name{
    font-weight: 800;
    font-size: 35px;
    text-transform: uppercase;
}

span{
    font-size: large;
}